.\env
.\app\__pycache__
/app/__pycache__
/env
/Front_end/node_modules
/backend/app/__pycache__
/backend/app/routers/__pycache__
/backend/venv
backend/app/ws/__pycache__/connection_manager.cpython-312.pyc
*.db
backend/logs.log
