@import "primereact/resources/themes/lara-dark-purple/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/* opcionális saját global css */
html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  overflow-x: hidden;
}
